<mat-card>
    <mat-card-header>
        <mat-card-title>Oklahoma Zone</mat-card-title>
        <mat-card-subtitle>Rev. May 03 2020</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        Text content
    </mat-card-content>   
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>Arkansas Zone</mat-card-title>
        <mat-card-subtitle>Rev. May 03 2020</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        Text content
    </mat-card-content>   
</mat-card>

<mat-card>
    <mat-card-header>
        <mat-card-title>All Pilots Should:</mat-card-title>        
    </mat-card-header>
    
    <mat-card-content>
        <div style="text-align: left;">            
            <ol>
                <li>Hold a current United States Hang Gliding &amp; Paragliding Association membership with pilot rating equal or higher than the site requirement. <b>(Current <a target="_blank" href="https://www.ushpa.org/page/join" >USHPA membership</a> is mandatory due to insurance requirements).</b></li>
                <li>Only allow qualified USHPA members to act as launch assistants <b>(USHPA insurance requirement.)</b></li>
                <li>Support the Buffalo Mountain Flyers in keeping our flying sites open and maintained through <a target="_blank" href="/page/membership.html">membership in the BMF club</a> and/or a <a target="_blank" href="/page/donations.html">donation</a> in an amount of your choice.</li>
                <li>Always comply with all FAA regulations that apply to the operation of your glider.</li>
                <li>Observe site rating requirements.</li>
                <li>Not fly in weather conditions outside their personal abilities or gliders&#8217; performance capabilities.</li>
                <li>Be aware that the conditions at our launches change quickly and frequently. Launching and/or landing in windy conditions and/or in mid-day / mid-afternoon strong thermals could easily require a higher rating than the minimum rating required by the site.</li>
                <li>Visit the landing field before going to launch! Things change and are not always visible from launch. Do not land in fields with very tall grass or nearing hay harvest time.</li>
                <li>Cut new vegetation growth at launch, before launching, if it might be a safety hazard.</li>
                <li>Always wear a helmet, have a serviceable parachute, and HG pilots must use a safety hang strap.</li>
                <li>Fly with a radio. Most local pilots transmit and receive <b>USHPA frequency 151.925</b></li>
                <li>Observe the right of way rules.</li>
                <li>Use the buddy system; make sure your partner has landed safely. Avoid flying alone.</li>
                <li>Land immediately, not launch if air rescue or airborne fire fighting is taking place.</li>
                <li>Not launch if anyone is within any potential unintentional line of flight, unless they are a current USHPA member fully aware of and watching your launch from a safe location.</li>
                <li>Not fly within 100 feet of any structure or group of spectators, or directly in front of launch when another glider is preparing to launch.</li>
                <li>Move gliders quickly to the break down area after landing.</li>
                <li>Take care to comply with specific landowner requirements. Do not drive off of any vehicle road unless you know you have specific permission to do so. Do not cut any trees unless you have clear and explicit permission to do so.</li>
                <li>Close all gates. There are gates on the way to launch and LZs at many of our sites. To maintain our relationship with property owners it is vital that gates are not left open, even knowing that another pilot is just a few minutes behind.</li>
                <li>Always put safety first and be courteous to fellow pilots, property owners and visitors.</li>
                <li>Always pick up trash! Even if it&#8217;s not yours.</li>
                <li>Observe notices posted in landing fields or at launches for updated and additional information.</li>
            </ol>
            <p>Contact BMF by <a href="mailto:bmf@buffalomountainflyers.org">Email</a></p>
        </div>
    </mat-card-content>
    
</mat-card>
