<div style="background-color: aqua;">
<mat-card>
    <mat-card-title>Welcome to the Buffalo Mountain Flyers home website!</mat-card-title>
    <h3>Mandatory Daily Site <a [routerLink]="'/sitecheckin'">Check-In.</a></h3>
    <p>Our membership consists of a diverse group of aviators from many states in the region enjoying Hang Gliding and Paragliding in the beautiful skies of Southeastern Oklahoma.        
        Annual membership dues allow us to:
    </p>
    <div style="text-align: left;">
        <ul>
            <li>
                Develop and maintain local flying sites and the associated relations with property owners and the general public
            </li>
            <li>
                Promote pilot safety and education
            </li>
            <li>
                Support USHPA (U.S. Hang Gliding & Paragliding Association) regulations
            </li>
            <li>
                Provide a forum for airing hang gliding and paragliding related concerns and issues
            </li>
            <li>
                Communicate with other hang gliding & paragliding clubs and flying schools in the region on matters of mutual concern
            </li>
            <li>
                Provide general information to individuals wishing to learn more about the sports of hang gliding and paragliding.
            </li>
        </ul>
    </div>
    <div>
        <p>
            The Buffalo Mountain Flyers (BMF) provides insurance (through USHPA) and maintains landowner relations at several flying sites in Oklahoma. These include: Buffalo Mountain, Heavener, Little Yancy, and Panorama Vista including PG Point.
        </p>
        <p>
            Current Flyers:
            Please, always fly in a safe manner and set a good example for our sport. Follow any site rules that have been set up to preserve our launches and landing fields. Rules and guidelines have been included in our member information letter which you may access by clicking on the members button at the top of this page.  They are also posted on each sites kiosk. Please take time to review these thoroughly.
        </p>
        <p>
            Future Flyers:
            You may find links to resources such as instruction and equipment by clicking on the links button at the top of this page.
        </p>
        <p><i>Thank you,
            Officers, Directors, and Members of BMF</i>
        </p>

For more information, you may contact us at: <a href="mailto:bmf@buffalomountainflyers.org">BMF@buffalomountainflyers.org</a>
    </div>
</mat-card>
   
</div>