<mat-card>
    <mat-card-title>
        Members and Directors
    </mat-card-title>
    <mat-card-content>
        <div>
            <p>
                We have a diverse group of pilots, consisting of all USHPA skills and
                rating levels flying Hang Gliders and Paragliders, some both, some tow 
                and some are active with other light or ultralight aircraft.
            </p>
        </div>
        <div style="vertical-align: top; margin:.5em; padding:.5em; border:1px solid black; display:inline-block">
            <table><caption>Board Of Directors</caption>
            <tr style="background: #CCC"><td>&nbsp;President&nbsp;</td>
            <td>&nbsp;<a href="mailto:rsjr@tcprint.com">&nbsp;Robert Simpson&nbsp;</a></td>
            <td>&nbsp;501-580-0261</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Vice President&nbsp;</td>
            <td>&nbsp;<a href="mailto:aaron.hartsfield@gmail.com">&nbsp;Aaron Hartsfield&nbsp;</a></td>
            <td>&nbsp;479-414-4162</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Secretary&nbsp;</td>
            <td>&nbsp;<a href="mailto:wpchem81@aol.com">&nbsp;Warren Puckett&nbsp;</a></td>
            <td>&nbsp;8177334703</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Treasurer&nbsp;</td>
            <td>&nbsp;<a href="mailto:Dave@rl62.com">&nbsp;David Shaw&nbsp;</a></td>
            <td>&nbsp;918-522-4870</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Safety Director&nbsp;</td>
            <td>&nbsp;<a href="mailto:reggie87@hotmail.com">&nbsp;Reggie Koch&nbsp;</a></td>
            <td>&nbsp;5015510301</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Director1&nbsp;</td>
            <td>&nbsp;<a href="mailto:rdbbrown@yahoo.com">&nbsp;Rena Brown&nbsp;</a></td>
            <td>&nbsp;918-373-1786</td></tr>
            <tr style="background: #CCC"><td>&nbsp;Director2&nbsp;</td>
            <td>&nbsp;<a href="mailto:RoyM@Poteau.com">&nbsp;Roy Mahoney&nbsp;</a></td>
            <td>&nbsp;918-658-5012</td></tr></table>
        </div>
        <div style="vertical-align: top; margin:.5em; padding:.5em; text-align: -webkit-center;">
            <table><caption>In Memory</caption>
                <tr style="background: #CCC"><td>&nbsp;Mel Hair</td><td>&nbsp;&#8224;August 2016</td></tr>
                <tr style="background: #CCC"><td>&nbsp;Todd James</td><td>&nbsp;&#8224;July 2016</td></tr>
            </table>
        </div>
        <div style="vertical-align:top; margin:.5em; padding:.5em; border:1px solid black; display:inline-block;">
            <table>
                <caption>Current Members (99)<br/>Memberships expire at the end of Anniversary Month.</caption>
                <tr><td>1.</td><td>Robert Balentine</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>2.</td><td>Derek Bartlem</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>3.</td><td>Angel Bello Caballero</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>4.</td><td>Tom Berthold</td><td>&nbsp;Sep 20</td></tr>
                <tr><td>5.</td><td>Donald Briley</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>6.</td><td>Rena Brown</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>7.</td><td>Sam Lynn Callahan</td><td>&nbsp;May 21</td></tr>
                <tr><td>8.</td><td>Charles Cassady</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>9.</td><td>Greg Chastain</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>10.</td><td>Kenneth Cobb</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>11.</td><td>Carl Croft</td><td>&nbsp;May 21</td></tr>
                <tr><td>12.</td><td>Paul Dickinson</td><td>&nbsp;Sep 20</td></tr>
                <tr><td>13.</td><td>Brian Ezelle</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>14.</td><td>Chad Fahlberg</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>15.</td><td>Mike Farney</td><td>&nbsp;Aug 21</td></tr>
                <tr><td>16.</td><td>Curtis Faulconer Iii</td><td>&nbsp;Apr 21</td>
                </tr><tr><td>17.</td><td>Curtis Faulconer Jr</td><td>&nbsp;May 21</td></tr>
                <tr><td>18.</td><td>Greg Fergus</td><td>&nbsp;Apr 21</td></tr>
                <tr><td>19.</td><td>Warren Flatte</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>20.</td><td>Edward Fogel</td><td>&nbsp;Apr 21</td></tr>
                <tr><td>21.</td><td>Jim Fuhrman</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>22.</td><td>Jeremiah Gentry</td><td>&nbsp;Sep 21</td></tr>
                <tr><td>23.</td><td>Alex Grinfeder</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>24.</td><td>Barbara Hair</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>25.</td><td>Darrell Hambley</td><td>&nbsp;Apr 21</td></tr>
                <tr><td>26.</td><td>Michael Hampton</td><td>&nbsp;Oct 20</td></tr>
                <tr><td>27.</td><td>David Harding</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>28.</td><td>Dave Harding</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>29.</td><td>Aaron Hartsfield</td><td>&nbsp;Jan 21</td></tr>
            </table>
        </div>
            <div style="margin:1em; padding:.5em; border:1px solid black;display:inline-block; vertical-align: top;">
                <table>
                <tr><td>30.</td><td>Tom Heald</td><td>&nbsp;Aug 21</td></tr>
                <tr><td>31.</td><td>Nils Hempel</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>32.</td><td>Justin Huffman</td><td>&nbsp;May 21</td></tr>
                <tr><td>33.</td><td>Cole Johnson</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>34.</td><td>Sebastien Kayrouz</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>35.</td><td>Michael L. Kelsey</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>36.</td><td>James Kerns</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>37.</td><td>Reggie Koch</td><td>&nbsp;Sep 20</td></tr>
                <tr><td>38.</td><td>Kale Kudlacek</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>39.</td><td>Scott Leftwich</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>40.</td><td>Kurt Leithe</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>41.</td><td>Jodie Lemish</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>42.</td><td>Michael Lemish</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>43.</td><td>Waldron</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>44.</td><td>Scott Mages</td><td>&nbsp;May 21</td></tr>
                <tr><td>45.</td><td>Ali Mahdavi</td><td>&nbsp;May 21</td></tr>
                <tr><td>46.</td><td>Roy Mahoney</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>47.</td><td>Larry Mansberger</td><td>&nbsp;Oct 20</td></tr>
                <tr><td>48.</td><td>Brian Mcadoo</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>49.</td><td>Steve Mcbee</td><td>&nbsp;May 21</td></tr>
                <tr><td>50.</td><td>Daniel McCarthy</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>51.</td><td>Matthew Mccleskey</td><td>&nbsp;Apr 21</td></tr>
                <tr><td>52.</td><td>Cory Mcdonald</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>53.</td><td>Philip Morgan</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>54.</td><td>Stan Morris</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>55.</td><td>Anand Nandugudi</td><td>&nbsp;Aug 21</td></tr>
                <tr><td>56.</td><td>Blaine Nelson</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>57.</td><td>Clint Newcomb</td><td>&nbsp;Aug 21</td></tr>
                <tr><td>58.</td><td>Josh Nicholson</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>59.</td><td>Jerry Ortega</td><td>&nbsp;Jun 21</td></tr>
            </table>
        </div>
        <div style="margin:1em; padding:.5em; border:1px solid black;display:inline-block; vertical-align: top;">
            <table><tr><td>60.</td><td>Warren Puckett</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>61.</td><td>James Race</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>62.</td><td>J. Allen Rahi</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>63.</td><td>Greg Ratliff</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>64.</td><td>Rich Reinauer</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>65.</td><td>Branson Rhoads</td><td>&nbsp;May 21</td></tr>
                <tr><td>66.</td><td>Victor Robbins</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>67.</td><td>Had Robinson</td><td>&nbsp;Dec 21</td></tr>
                <tr><td>68.</td><td>Richard Ruggiero</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>69.</td><td>Mike Russell</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>70.</td><td>John Russell</td><td>&nbsp;Jan 21</td></tr>
                <tr><td>71.</td><td>Jiri Rutner</td><td>&nbsp;Sep 20</td></tr>
                <tr><td>72.</td><td>Dave Ryhal</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>73.</td><td>J Brad Salzmann</td><td>&nbsp;Jul 21</td>
                </tr><tr><td>74.</td><td>Merle Sandage</td><td>&nbsp;Oct 20</td></tr>
                <tr><td>75.</td><td>Scott Scallion</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>76.</td><td>Josiah Sewell</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>77.</td><td>Britton Shaw</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>78.</td><td>David Shaw</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>79.</td><td>Darrell Shepherd</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>80.</td><td>Gabriel Silva</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>81.</td><td>Robert Simpson</td><td>&nbsp;May 21</td></tr>
                <tr><td>82.</td><td>Teddy Sowinski</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>83.</td><td>Richard Staton</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>84.</td><td>Jim Steele</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>85.</td><td>Donna Stokes</td><td>&nbsp;Jul 21</td></tr>
                <tr><td>86.</td><td>Mark Stump</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>87.</td><td>Allen Tarver</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>88.</td><td>James Taulman</td><td>&nbsp;Mar 21</td></tr>
                <tr><td>89.</td><td>David Templeton</td><td>&nbsp;Nov 20</td></tr>
            </table>
        </div>
        <div style="margin:1em; padding:.5em; border:1px solid black;display:inline-block; vertical-align: top;">
            <table>
                <tr><td>90.</td><td>Mike Upchurch</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>91.</td><td>Jeff Van Dyke</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>92.</td><td>Cathy Van Dyke</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>93.</td><td>Philip Walker</td><td>&nbsp;Feb 21</td></tr>
                <tr><td>94.</td><td>Ric West</td><td>&nbsp;Jun 21</td></tr>
                <tr><td>95.</td><td>Carl Wheeler</td><td>&nbsp;Nov 20</td></tr>
                <tr><td>96.</td><td>Scott Whittet</td><td>&nbsp;Aug 20</td></tr>
                <tr><td>97.</td><td>Randal Wilson</td><td>&nbsp;Apr 21</td></tr>
                <tr><td>98.</td><td>Stuart Wilson</td><td>&nbsp;Dec 20</td></tr>
                <tr><td>99.</td><td>Mike Wykoff</td><td>&nbsp;May 21</td></tr>
            </table>
        </div>     
    </mat-card-content>
</mat-card>

