<mat-card>
    <mat-card-title>
        External links and information
    </mat-card-title>
    <mat-card-content>
        <h2>Hang Gliding & Paragliding Organizations:</h2>
        <div style="text-align: left;">
          <p><a href="http://www.ushpa.aero">United States Hang Gliding & Paragliding Association (USHPA)</a> </p>

          <p><a href="http://www.buffalomountainflyers.org">Buffalo Mountain Flyers (BMF)</a> - hang gliding & paragliding club for the mountains of SE Oklahoma. </p>

          <p><a href="http://www.centralarkansasmountainpilots.org">Central Arkansas Mountain Pilots (CAMP)</a> - hang gliding and paragliding club for Central Arkansas.</p>

          <p><a href="http://www.nthpa.org">North Texas Hang Gliding &amp; Paragliding Club (NTHPA)</a> - North Texas hang/para gliding association.</p>

          <p><a href="http://www.austinfreeflight.org">Austin Free Flight Association (AFFA)</a> - non-powered hang gliding and paragliding in the Austin, TX area. </p>

          <p><a href="http://www.houstonhangparagliding.org">Houston Hang Gliding &amp; Paragliding Association (HHPA)</a> - Houston, TX area.</p>

          <p><a href="http://www.tennesseetreetoppers.org">Tennessee Tree Toppers (TTT)</a> - hang gliding community in the Sequatchie Valley of Southeast Tennessee.</p>

          <p><a href="http://www.flysandia.org">Sandia Soaring Association</a> - hang gliding and paragliding in Albuquerque, NM. </p>

          <p> <a href="http://alabamahangglidingassociation.blogspot.com">Alabama Hang Gliding Association</a> - pilots in the Birmingham, Alabama area.</p>

          <p><a href="http://www.southernparapilots.org">Southern Para Pilots</a> - paragliding in Georgia.</p>

          <p><a href="http://www.ushgf.org">Foundation for Free Flight</a> - "dedicated to the preservation of hang gliding and paragliding in the United States"</p>

          <p><a href="http://thecloudbasefoundation.org">Cloudbase Foundation</a> - "Hang Glider and Paraglider Pilots helping children wherever we fly"</p>
    </div>
    <h2>Instruction, Equipment, and Information:</h2>
     <div style="text-align: left;">  
          <p><a href="http://www.ouachitahanggliding.com">Ouachita Hang Gliding and Paragliding Directory</a>- Providing information about Hang Gliding and Paragliding in the Ouachita Mountains of Arkansas and Oklahoma.</p>

          <p><a href="http://www.rvppg.com">River Valley Paragliding</a> certified paragliding and powered paragliding flight instruction and equipment.</p>

          <P><a href="http://www.okparagliding.com">Oklahoma Paragliding</a> - sales, service, paragliding lessons, located at the base of Buffalo Mountain, near Talihina, OK.</P>

          <p><a href="http://www.pttguy.com">PTT Guy</a> - providing Push-to-Talk headsets for hang gliding and paragliding. </p>

          <p><a href="http://www.sky2glide.com">Wide Open Sky Hang Gliding</a> - hang gliding lessons, located just off I-44 near Geronimo and Walters, OK.</p>

          <p><a href="http://www.hangglide.com">Lookout Mountain Flight Park</a> - major hang gliding training center near Chattanooga, TN.</p>

          <p><a href="http://www.ushpa.aero/schools.asp">USHPA map of schools</a></p>

          <p><a href="http://www.ushpa.aero/instructors_map.asp">USHPA map of instructors</a></p>

          <p><a href="http://www.ozreport.com">The Oz Report</a> - A near-daily, world wide hang gliding news ezine.</p>

          <P><a href="http://talihina-soaring.com/">Talihina Soaring</a>- The purpose of this site is to promote all the soaring possibilities (Ridge, Wave &amp; Thermal lift) that are available in theTalihina (SE Oklahoma) area and to provide a source of information for all of those who are planning to come here to fly.</P>
    </div>
    <h2>Area Information</h2>
     <div style="text-align: left;"> 
          <p><a href="http://www.talihinacc.com">Talihina Chamber of Commerce</a> - Talihina, Oklahoma - area information. </p>

          <p><a href="http://www.stateparks.com/talimena_state_park_in_oklahoma.html">Talimena State Park</a> - camping near Talihina.</p>

          <p><a href="http://www.talimenascenicdrive.com">Talimena Scenic Drive</a> - scenic drive and area information.</p>

          <p><a href="http://www.poteau.org">Poteau Chamber of Commerce</a> - Poteau, Oklahoma - area information.</p>

          <p><a href="http://www.poteau-ok.com">City of Poteau</a> - Poteau, Oklahoma - more information.</p>

          <p><a href="http://www.cityofheavener.us">City of Heavener</a> - Heavener, Oklahoma - area information.</p>

          <p><a href="http://www.facebook.com/pages/Friends-of-Heavener-Runestone/119474274794176">Friends of Heavener Runestone</a> - Heavener Runestone Park information.</p>

          <p><a href="http://www.fs.usda.gov/main/ouachita/home">Ouachita National Forest</a> - South East Oklahoma &amp; West Central Arkansas.</p>
    </div>
    </mat-card-content>
</mat-card>
