<div >
    <img class="headerimage" src="../assets/BMFhead.jpg">
</div>
<div class="headerContainer">
<div class="navegationBar">
<button mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon>Menu</button>
    <mat-menu #menu="matMenu">
        <a  mat-menu-item [routerLink]="'/home'">Home</a>
        <a  mat-menu-item [routerLink]="'/membership'">Membership</a>
        <a  mat-menu-item [routerLink]="'/sitecheckin'">Site Checkin</a>
        <a  mat-menu-item [routerLink]="'/donations'">Donations</a>    
        <a  mat-menu-item [routerLink]="'/siteinfo'">Site Info</a>
        <a  mat-menu-item [routerLink]="'/members'">Members</a>
        <a mat-menu-item [routerLink]="'/links'">Links</a>
    </mat-menu>
</div>
  
<div class="callToAction">
    <a class="navlink" [routerLink]="'/donations'">Donations</a>
    <a class="navlink" [routerLink]="'/sitecheckin'">Site Checkin</a>
</div>
<div id="clear"></div>
</div>
<router-outlet>
    
</router-outlet>

<p>Copy right - Buffalo Mountain Flyers 2020-2021</p>