<mat-card>
    <mat-card-title>Donate!</mat-card-title>
    <mat-card-content>
       <p> Please help the Buffalo Mountain Flyers preserve hang glider and paraglider flying sites in the beautiful mountains of SE Oklahoma.
Your donation is very much needed and will be greatly appreciated.
</p>
<pre style="text-align: left;">
    You may mail a donation to:

    Buffalo Mountain Flyers
    c/o Dave Shaw - Treasurer
    6200 SE 230 Rd
    Talihina, OK 74571
</pre>       

        
<p>
Buffalo Mountain Flyers' annual expenses include $1,200+ per year for our Forest Service Special Use Permit, and an additional $2,000+ in insurance and site maintenance costs.
Thank you for helping to keep SE Oklahoma's skies open to all hang gliding and paragliding enthusiasts!
</p>
    </mat-card-content>
</mat-card>
